html
	head
		link(rel="stylesheet", href="css/app.css")
	body
		#root
		script(src="js/libraries.js")
		script(src="js/app.js")
		//- optional compiling of coffee files
		//- script(src="js/coffeescript.js")